@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
    background-color: #3b4252;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
    text-align: center;
}
a:visited {
    text-decoration: none;
    text-align: center;
}
a:hover {
    text-decoration: none;
    text-align: center;
}
a:active {
    text-decoration: none;
    text-align: center;
}

.obvlink {
    color: rgb(190, 190, 190);
    font-size: 32px;
}

.fancy-word {
    animation-name: hover;
    animation-duration: 1s;
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-family: "Varela Round";
    margin: 14px;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.fancy-word:hover {
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition: opacity 0.5s;
    text-decoration: none;
}

.spacer {
    color: #3b4252;
    margin: 0.25rem;
    font-size: 14px;
}

.half-spacer {
    color: #3b4252;
    margin: 0rem;
    font-size: 7px;
}

.game {
    color: rgb(255, 255, 255);
    opacity: 0.4;
    transition: opacity 0.5s;
    font-family: "Varela Round";
    text-decoration: none;
    margin: 8px;
}

.game:hover {
    opacity: 1;
    transition: opacity 0.5s;
    color: rgb(255, 255, 255);
    font-family: "Varela Round";
    text-decoration: none;
}

.game-highlight:hover {
    opacity: 1;
    transition: opacity 0.5s;
    color: rgb(205, 255, 175);
    font-family: "Varela Round";
    text-decoration: none;
}

.game-container {
    margin: auto;
    width: 90%;
    border: 0px solid green;
    text-align: center;
    padding: 10px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: "Varela Round";
    text-align: center;
    margin: 0rem;
    line-height: 100%;
}

a {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: "Varela Round";
    text-align: center;
    margin: 0rem;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Varela Round";
    text-align: center;
    margin: 0rem;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: "Varela Round";
    text-align: center;
    margin: 0rem;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    font-family: "Varela Round";
    text-align: center;
    margin: 0rem;
}

#reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 70%;
    height: 200px;
    margin-left: 15%;
}

.review {
    background-color: #434c5e;
    height: 200px;
    width: 360px;
    border-radius: 5px;
}

.customer-name {
    position: absolute;
    font-size: 20px;
    text-align: right;
    margin-left: 5px;
    margin-top: 2px;
}

.review-title {
    font-size: 20px;
    text-align: right;
    margin-right: 5px;
    margin-top: 2px;
}

.review-text {
    margin-top: 10px;
    font-size: 24px;
}

input {
    text-align: left;
    color: white;
    background-color: #434c5e;
    border: none;
    height: 32px;
}

.quickcl {
    margin-top:20px;
    background-color: #434c5e;
    height: 200px;
    width: 360px;
    border-radius: 5px;
}

.divcenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 70%;
    height: 200px;
    margin-left: 15%;
}

.quickcl h1 {
    font-size: 24;
}


.quickcl p {
    font-size: 20;
}